---
// import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
    class="bg-[#3271A3] bg-gradient-to-t from-[#356DAB] to-[#569ADE] rounded-md py-12 md:py-20 text-center"
>
    <h1>
        <a href="/" class="text-white text-2xl md:text-4xl font-bold mb-3"
            >{SITE_TITLE}</a
        >
    </h1>
    <p class="text-white">My thoughts on web development, design, and more.</p>
</header>
