---
import { getCollection } from "astro:content";

const pages = await getCollection("page");
---

<div class="space-y-8">
    <div class="flex gap-2">
        <input type="text" class="w-full py-1.5" />
        <button type="submit" class="bg-neutral-200 px-1.5">Search</button>
    </div>

    {
        pages && (
            <div>
                <h4 class="text-neutral-800 font-semibold mb-2">Pages</h4>
                <ul class="text-sm pl-4">
                    {pages.map((page) => (
                        <li class="text-boulder">
                            &raquo;{" "}
                            <a
                                href={`/${page.slug}/`}
                                class="transition text-[#06C] hover:underline hover:text-[#147]"
                            >
                                {page.data.title}
                            </a>
                        </li>
                    ))}
                </ul>
            </div>
        )
    }

    <div>
        <h4 class="text-neutral-800 font-semibold mb-2">Archives</h4>

        <ul class="text-sm pl-4">
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >June 2024</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >May 2024</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >April 2024</a
                >
            </li>
        </ul>
    </div>

    <div>
        <h4 class="text-neutral-800 font-semibold mb-2">Categories</h4>

        <ul class="text-sm pl-4">
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >astro</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >typescript</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >personal</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >random</a
                >
            </li>
        </ul>
    </div>

    <div>
        <h4 class="text-neutral-800 font-semibold mb-2">Blogroll</h4>

        <ul class="text-sm pl-4">
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >Ronak Ganatra</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >Michael Bromley</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >Ben Holmes</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >Charly Poly</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >James Perkins</a
                >
            </li>
            <li>
                &raquo; <a
                    href="https://astro.build"
                    class="transition text-[#06C] hover:underline hover:text-[#147]"
                    >Scott Spence</a
                >
            </li>
        </ul>
    </div>
</div>
